@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 100px;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #af83d1,
    #789ce9,
    #31afe9,
    #00bdd6,
    #25c3be,
    #57c5a2,
    #83c586,
    #a5c178,
    #c2bc73,
    #dab678,
    #ecb185
  );
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo {
  max-width: 90px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 40px;
}
#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
#cart-container table thead {
  font-weight: 700;
}
#cart-container table thead td {
  background: #fd8c66;
  color: #fff;
  border: none;
  padding: 6px 0;
}
