@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #af83d1,
    #789ce9,
    #31afe9,
    #00bdd6,
    #25c3be,
    #57c5a2,
    #83c586,
    #a5c178,
    #c2bc73,
    #dab678,
    #ecb185
  );
}
